.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}

@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}