.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  background: #38bdf8;
  color: black;
}